# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
fkt_text.LST
fkt_text.OBJ
main.LST
main.OBJ
proc_a.LST
proc_a.OBJ
proc_b.LST
proc_b.OBJ
proc_console.LST
proc_console.OBJ
scheduler
scheduler.build_log.htm
scheduler.lnp
scheduler.LST
scheduler.M51
scheduler.OBJ
scheduler.uvgui.Stanislav
scheduler.uvgui_Stanislav.bak
scheduler.uvopt
scheduler.uvproj
scheduler_uvopt.bak
scheduler_uvproj.bak
serial.LST
serial.OBJ
STARTUP.A51
fkt
fkt.build_log.htm
fkt.lnp
fkt.M51
fkt.uvproj
*.~vsdx
RA_Project/Scheduler.aux
RA_Project/Scheduler.bbl
RA_Project/Scheduler.blg
RA_Project/Scheduler.brf
RA_Project/Scheduler.idx
RA_Project/Scheduler.lof
RA_Project/Scheduler.log
RA_Project/Scheduler.nlo
RA_Project/Scheduler.out
RA_Project/Scheduler.pdf
fkt.uvgui.Stanislav
fkt.uvgui_Stanislav.bak
fkt.uvopt
fkt_uvopt.bak
fkt_uvproj.bak
proc_z.LST
proc_z.OBJ
RA_Project/content/fragenteil.log
RA_Project/Imagelist.dat
RA_Project/preambel/gnuplotstyle-spectrum.style
RA_Project/preambel/preambel.log
RA_Project/preambel/settings.log
RA_Project/Scheduler.synctex.gz
RA_Project/Scheduler.toc
